* {
  margin: 0;
  padding: 0;
}
.nav__img {
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 10px;
  /* height: 100%;
  width: auto; */
}
.nav__img.active {
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 10px;
}
body {
  font-family: Ariel, Helvetica, san-serif;
  background: black;
  color: white;
  line-height: 1.6;
  height: 100vh;
}
.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background: transparent;

  /* background: rgba(0, 0, 0, 0.7); */
}
.navbar.active {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 100%,
    rgb(0, 0, 0) 100%
  );

  /* background: linear-gradient(90deg, rgb(66, 78, 194) 0%, rgb(0, 0, 0) 100%); */
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.navbar.active ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.navbar ul li a:hover {
  color: skyblue;
}
.container {
  height: 100%;
  width: 100%;
  /* background-color: pink; */
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* scroll-snap-align: center; */
}
section h1 {
  font-size: 4rem;
}

section p {
  fontsize: 1.5rem;
}
section#home {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
}

section#about {
  background: url("https://source.unsplash.com/VRxo0yY-gyM/1600x900") no-repeat
    center center/cover;
}

section#projects {
  background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
    center center/cover;
}

section#contact {
  background: url("https://source.unsplash.com/2aAHlfDOhJM/1600x900") no-repeat
    center center/cover;
}
::-webkit-scrollbar {
  /* display: none; */
}
